@import './base.css';

body {
    display: flex;
}

#app {
    display: flex;
    flex-direction: column;
}

#app > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gablet-content {
    padding-left: 10%;
    padding-right: 10%;
}